p {
    background-color: blue;
    color: white;
}
.superhero {
    font-family: Euphemia;
}
#page-title {
    color: var(--primary-color);
    font-family: Aharoni;
    font-size: 2rem;
}
/*section h1 {
    background-color: red;*/
/*}*/
/*section h1 {
    background-color: #39add1;
    border: 3px solid hsla(270, 50%, 45%, 1);
    box-shadow: 3px 3px 3px aquamarine;
    color: rgba(0, 255, 127, 0.9);
}*/
section {
    background-image: radial-gradient(circle at center, red, blue);
}
a {
    background-color: yellow;
}
:root {
    --primary-color: red;
    --secondary-color: blue;
    --tertiary-color: yellow;
}
h1 {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}
