.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*The first value handles row gap, the second col gap*/
    grid-gap: 15px 20px;
    grid-template-rows: 100px repeat(2, 200px) 100px; /*Row 1, row 2, row 3, row 4*/
    margin: 2rem auto;
    max-width: 1000px;
    width: 90%; /*This makes it responsive so it will work on different size screens*/
}
 .grid-item-1 {
     grid-column: 1 / span 3;
 }